*,
*::before,
*::after {
  box-sizing: border-box;
}



body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
}

.container{
  text-align: center;
  padding: 20px;
  padding-top: 50px;
  color: hsl(206, 17%, 28%);
  
}
.timer{
  display: none;
}

p {
    text-align: center;
}
.quiz{
  display: none;
}

.card-footer {
  text-align: center;
}



.btn {
  border: none;
  background-color: rgb(8, 100, 175);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

